<div>
    <h1>AEM Application</h1>
    <form method="POST" id="signOutForm">
        <input type="submit" id="signOutSubmit" value="SIGN OUT" />
    </form>

    <script src="./dashboardFunction.js"></script>
</div>